:root {
  --dark-color: rgb(90, 90, 90);
  --present-box: rgb(240, 58, 58);
  --present-lid: rgb(216, 52, 52);
  --ribbon-dim:  rgba(235, 199, 0, 0.6);
  --ribbon-bright:  rgba(235, 199, 0, 0.8);
  --shadow: rgba(0, 0, 0, 0.1);
  --promo: rgb(255, 255, 255);
}

body {
  background: var(--dark-color);
  overflow: hidden;
  padding-top: 170px;
}

.container {
  width: 100%;
}

.present {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

span {
  transition: all 0.5s ease-in-out;
}

.present:hover span{
  background: var(--ribbon-bright);
}

.lid, .box {
  background: 
  radial-gradient(white 15%, transparent 15.1%),
  var(--present-box);
  background-position: 0 0, 25px 25px;
  background-size: 45px 45px;
  position: relative;
  margin: 0 auto;
}

.lid {
  width: 400px;
  height: 70px;
  box-shadow: 1px 2px 3px var(--shadow);
  z-index: 1;
  padding: 0 2px;
  background-color: var(--present-lid);
  top: 0;
  left: 0;
  transition: all ease-in-out 0.4s;
}

.box {
  width: 400px;
  height: 250px;
  top: -3px;
}

.lid span, .box span {
  position: absolute;
  display: block;
  background-color: var(--ribbon-dim);
  box-shadow: 1px 2px 3px var(--shadow);
}

.box span:first-child, .lid span{
  height: 100%;
  width: 60px;
  left: 175px;
}

.box span:last-child{
  height: 60px;
  width: 100%;
  top: 105px;
}

.promo {
  color: var(--promo);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  top: 10px;
  height: 0;
  transition: all ease-out 0.5s;
}

.promo p, h2 {
  margin: 0;
}

.promo p {
  font-size: 24px;
}

.promo h2 {
  font-size: 40px;
}

.present:hover .lid {
  top: -100px;
  transform: rotateZ(10deg);
  left: 10px;
}

.present:hover .promo {
  top: -80px;
}

@media only screen and (max-width: 415px) {
  /* for mobile phones */
  .container {
    width: 250px;
    margin: 0 auto;
  } 

  .present {
    width: 200px;
  }
  
  .lid, .box {
    background-size: 25px 25px;
  }
  
  .lid {
    width: 200px;
    height: 50px;
  }
  
  .box {
    width: 200px;
    height: 100px;
    transition: all ease-in-out 0.4s;
  }
  
  .box span:first-child, .lid span{
    height: 100%;
    width: 35px;
    left: 85px;
  }
  
  .box span:last-child{
    height: 35px;
    width: 100%;
    top: 25px;
  }
  
  .promo p {
    font-size: 16px;
  }
  
  .promo h2 {
    font-size: 20px;
  }
  
  .present:hover .lid {
    top: -60px;
    transform: rotateZ(10deg);
    left: 10px;
  }

  .present:hover .box {
    top: 10px;
  }
  
  .present:hover .promo {
    top: -40px;
  }
}
